altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
certifi==2026.7.22
click==8.5.0
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
fastapi==0.142.2
flatbuffers==25.12.19
fonttools==4.66.1
h11==0.16.0
hhoppe-tools==1.6.10
httpcore==1.0.9
httpx==0.28.1
hypothesis==6.168.3
idna==3.20
iniconfig==2.3.0
kiwisolver==1.5.1
llvmlite==0.50.0
matplotlib==3.11.2
more-itertools==11.1.0
mss==10.2.0
numba==0.68.0
numpy==2.5.3
onnxruntime==1.30.0
opencv-python-headless==5.0.0.93
opentelemetry-api==1.45.0
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pokerkit==0.7.6
pluggy==1.6.0
protobuf==7.36.2
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.8
pymupdf==1.28.2
pyparsing==3.3.3
pypdf==6.19.0
pytest==9.1.1
treys==0.1.8
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
setuptools==84.0.0
six==1.17.0
sortedcontainers==2.4.0
starlette==1.7.0
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.54.0
